<div>
  <h1>{{pageTitle}}</h1>
  <label>Filter </label>
  <input type='text'>
  <div>
    <table class="table" *ngIf='products.length'>
      <thead>
        <tr>
          <th>
            <button class="btn btn-primary">Show Image</button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Start Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products'>
          <td></td>
          <td>{{product.productName}}</td>
          <td>{{product.productCode}}</td>
          <td>{{product.releaseDay}}</td>
          <td>{{product.price}}</td>
          <td>{{product.starRating}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>